<!-- Form for creating a dog will go in here -->

<form class="well container" ng-submit="vm.createDog()">
  <div>
    <label>Name</label>
    <input class="form-control" placeholder="Name..." ng-model="vm.dog.name">
  </div>
  <div>
    <label>Breed</label>
    <input class="form-control" placeholder="Breed..." ng-model="vm.dog.breed">
  </div>
  <div>
    <label>Age</label>
    <input class="form-control" placeholder="Age..." ng-model="vm.dog.age">
  </div>
  <div style="text-align:middle;">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>
