<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<h1>Navbar</h1>
	<a ui-sref="Home">Home</a>
	<a ui-sref="Profile">Profile</a>


	<ui-view></ui-view>


	<!-- Libs & Frames -->
	<script src="/angular/angular.js"></script>
	<!-- Lib & Frame Dependencies -->
	<script src="/angular-ui-router/release/angular-ui-router.js"></script>
	<!-- Source Code (app module & config) -->
	<script src="/javascript/app.js"></script>
	<!-- factory modules -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/HomeService.js"></script>
	<!-- controller modules -->
	<script src="/javascript/controllers/homeController.js"></script>
	<script src="/javascript/controllers/profileController.js"></script>
	<script src="/javascript/controllers/CreateDogController.js"></script>
</body>
</html>
